<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/assets/css/zanfuwu.css">
    <link rel="stylesheet" href="/assets/css/zanfuwu-extend.css">
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon-114x114.png">

    <link rel="stylesheet" href="//at.alicdn.com/t/font_1463019082_1278996.css">
    <link rel="stylesheet" href="/assets/css/zanfuwu-app.css">
    <script type='text/javascript' src='/assets/js/zepto.js' charset='utf-8'></script>
    <script type='text/javascript' src='/assets/js/zanfuwu-config.js' charset='utf-8'></script>
    <!--  {% include tongji.html %} -->
    <script>
        window.staticDomain = "/assets"
    </script>
  </head>
  <body>
    {{ content }}
    <script type='text/javascript' src='/assets/js/zanfuwu.js' charset='utf-8'></script>
    <script type='text/javascript' src='/assets/js/zanfuwu-extend.js' charset='utf-8'></script>
    <script src="/assets/js/moment.js"></script>
    <script src="/assets/js/wkim.js"></script>
    <script src="/assets/js/zanfuwu-app.js"></script>
  </body>
</html>

