<!-- 工具栏 -->
<!-- <nav class="bar bar-tab bar-bottom-nav">
    <li>
        <a class="tab-item external active" href="#">
            <span class="icon iconfont">&#xe603;</span>
            <span class="tab-label">首页</span>
        </a>
    </li>
    <li>
        <a class="tab-item external" href="#">
            <span class="icon iconfont icon-zanfuwutubiao02"></span>
            <span class="tab-label">分类</span>
        </a>
    </li>
    <li>
        <a class="tab-item external" href="#">
            <span class="icon iconfont icon-zanfuwutubiao03"></span>
            <span class="tab-label">订单</span>
        </a>
    </li>
    <li>
        <a class="tab-item external" href="#">
            <span class="icon iconfont icon-zanfuwutubiao04"></span>
            <span class="tab-label">我</span>
        </a>
    </li>
</nav> -->
<nav class="bar bar-tab bar-bottom-nav">
    <a class="tab-item external active" href="#">
        <span class="icon iconfont">&#xe603;</span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item external" href="#">
        <span class="icon iconfont">&#xe604;</span>
        <span class="tab-label">分类</span>
    </a>
    <a class="tab-item external" href="#">
        <span class="icon icon-requirement"></span>
        <span class="tab-label requirement-text">发布需求</span>
    </a>
    <a class="tab-item external" href="#">
        <span class="icon iconfont">&#xe605;</span>
        <span class="tab-label">订单</span>
    </a>
    <a class="tab-item external" href="#">
        <span class="icon iconfont">&#xe606;</span>
        <span class="tab-label">我</span>
    </a>
</nav>