<!-- 工具栏 -->
<nav class="bar bar-tab service-bottom-nav">
    <li class="wd20">
        <a class="tab-item external active" href="#">
            <span class="icon iconfont">&#xe62a;</span>
            <span class="tab-label">咨询</span>
        </a>
    </li>
    <li class="wd20">
        <a class="tab-item external" href="#">
            <span class="icon iconfont">&#xe628;</span>
            <span class="tab-label">店铺</span>
        </a>
    </li>
    <li class="wd20">
        <a class="tab-item external" href="#">
            <span class="icon iconfont">&#xe629;</span>
            <span class="tab-label">收藏</span>
        </a>
    </li>
    <li class="wd40">
        <a class="tab-item external" href="#">
            <span class="tab-label">购买</span>
        </a>
    </li>
</nav>