
  <!-- Slider -->
<div class="js-banner-swiper">
  <div class="swiper-container" data-space-between='10' data-pagination=".js-banner-swiper-pagination" style="padding-bottom:0;">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="http://zanfuwuimg.b0.upaiyun.com/banner/demand_h5.jpg" alt="" style="width: 100%;"></div>
      <div class="swiper-slide"><img src="http://zanfuwuimg.b0.upaiyun.com/banner/zhaoshang_1217.png" alt="" style="width: 100%;"></div>
      <div class="swiper-slide"><img src="http://zanfuwuimg.b0.upaiyun.com/banner/mjhtkftz_h5.jpg" alt="" style="width: 100%;"></div>
      <div class="swiper-slide"><img src="http://zanfuwuimg.b0.upaiyun.com/banner/demand_h5.jpg" alt="" style="width: 100%;"></div>
    </div>
    <div class="swiper-pagination js-banner-swiper-pagination" style="bottom: 0;"></div>
  </div>
</div>