<div>
	<!-- 腾讯视频 -->
	<iframe class="video_iframe" style="z-index: 1; width: 17.75rem !important;height:12rem !important;overflow: hidden;" frameborder="0" data-src="https://v.qq.com/iframe/preview.html?vid=s0019194c3s&amp;auto=0" allowfullscreen="" src="http://v.qq.com/iframe/player.html?vid=s0019194c3s&amp;auto=0" scrolling="no"></iframe>
</div>
<div>
	<!-- 优酷视频 -->
	<iframe class="video_iframe" style="z-index: 1; width: 17.75rem !important;height:10.8rem !important;overflow: hidden;" src="http://player.youku.com/embed/XMTQzMTM0OTI5Ng==" frameborder=0 allowfullscreen></iframe>
</div>