.a{
	background-position:top center;
	padding-top: 209px;
}
.account-info-container{
	.text-center{
		text-align: center;
		background-color: #fff;
		.userimg{
			display: inline-block;
			margin-top: 54/@ppr;
			margin-bottom: 19/@ppr;
		}
	}
	.list-block{
		background-color: #fff;
		padding: 35/@ppr 0;
		margin: 0;
		.item-link .item-inner:after {
		    content: '';
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    right: auto;
		    top: auto;
		    height: 1px;
		    width: 100%;
		    background-color: #e7e7e7;
		    display: block;
		    z-index: 15;
		    -webkit-transform-origin: 50% 100%;
		    transform-origin: 50% 100%;
		}
		.item-content{
			padding-right: 15/@ppr;
		}
	}

	ul:before, ul:after{
		background-color: #fff;
	}	
	.account-info-list{
		.item-title{
			width: 30%;
			color: #000;
			font-size: 13/@ppr;
		}
		.item-after{
			width: 70%;
			color: #999;
			font-size: 13/@ppr;
			text-align: right;
		}
		/* webkit solution */
		::-webkit-input-placeholder {
			text-align:right;
			font-size: 13/@ppr;
			color: #DFDFDF;
		}
		/* mozilla solution */
		input:-moz-placeholder {
			text-align:right;
			font-size: 13/@ppr;
			color: #DFDFDF;
		}
	}
}
#cameraInput{
	opacity: 0;
	position:absolute;
	width: 3.2rem;
    height: 3.2rem;
    margin-top: 2.7rem;
    margin-bottom: 0.95rem;
}