.balance-container{
	max-width: 750/@ppr;
	margin: 0 auto;
	.balance-header-bg{
		background: url("/assets/img/image_yebg.png")  #fe5b5f top center no-repeat;
		background-size: 350/@ppr 150/@ppr ;
		padding: 0 20/@ppr;
		height: 150/@ppr;
		.balance-header-title{
			font-size: 12/@ppr;
			color: #fff;
			padding: 35/@ppr 0 17/@ppr 0;
		}
		.balance-header-num{
			font-size: 36/@ppr;
			color: #fff;
		}
	}
	.margin-none{
		margin: 0 !important;
		.iconfont{
			color: #999;
		}
	}
	.balance-list{
		margin: 10/@ppr;
		.item-title{
			font-size: 13/@ppr;
			color: #000;
		}
		.item-after{
			color: #000;
			font-size: 13/@ppr;
		}
		.item-subtitle{
			font-size: 12/@ppr;
			color: #999;
			margin-top: 10/@ppr;
		}
		.item-inner{
			padding: 20/@ppr 0/@ppr 20/@ppr 0/@ppr;			
		}
		.item-content{
			padding: 0 26/@ppr;
		}		
		.total-num{
			padding: 0;
			.item-after{
				color: #999;
			}
			.item-title{
				font-size: 15/@ppr;
			}
			.item-inner{
				padding: 0 26/@ppr;
				div{
					font-weight: bold;
				}
			}
		}
		&{
		 ul:after{
		 	display: none;
		 }			
		}
		.more-link{
			margin: 0;
			line-height: 45/@ppr;
			height: 45/@ppr;
			text-align: center;
		}
	}
	//余额为空
	
	//提现
	.balance-extract{
		.danger{
			font-size: 20/@ppr;
			color: #FF5A5F;
		}
		/* webkit solution */
		::-webkit-input-placeholder {
			text-align:right;
			font-size: 13/@ppr;
			color: #DFDFDF;
		}
		/* mozilla solution */
		input:-moz-placeholder {
			text-align:right;
			font-size: 13/@ppr;
			color: #DFDFDF;
		}
		.remark-text{
			font-size: 12/@ppr;
			color: #999;
			line-height: 20/@ppr;
		}
		.item-content{
			padding: 0;
			.item-inner{
				padding: 20/@ppr 26/@ppr;
			}
		}
	}
	.balance-detail-tip{
		background: #fff;
		.iconfont{
			font-size: 55/@ppr;
			margin: 85/@ppr 0 32/@ppr 0;
			display: inline-block;
		}
		.text-center{
			font-size: 15/@ppr;
			color: #000;
			margin-bottom: 55/@ppr;
		}
	}
	.balance-detail-list{
		width: 80%;
		margin-left: 10%;
		border: 1px solid #e7e7e7;
		margin-bottom: 50/@ppr;
		.item-content{
			padding-left: 0;
			.item-inner{
				padding-right: 0;
			}
			.item-title{
				margin-left: 15/@ppr;
				font-size: 13/@ppr;
				color: #999;
			}
			.item-after{
				font-size: 13/@ppr;
				color: #000;
				margin-right: 15/@ppr;
			}
		}
	}
}
.common-input{
	padding: 10/@ppr;
	height: 44/@ppr;
	margin-top: 10/@ppr;
	width: 100%;
	border: none;
	font-size: 13/@ppr;
}