@ppr:20rem;
.text-center {
	text-align: center !important;
}
.icon-left, .icon-right{
	color: #999;
	font-size: 13/@ppr !important;
}
.userimg {
	border-radius: 999rem;
}
.zfw-card-wblink{
	div{
		margin: 20/@ppr 0;
	}
}
.bar-bottom-nav{
	li{
		list-style: none;
		width: 100/4%;
		text-align: center;
		float:left;
		.tab-item{
			width: auto;
			display: inline-block;
			line-height: 49/@ppr;
		}		
		.tab-item.active, .tab-item:active{
			color: #FF5A5F !important;
			border-bottom:2px solid #ff5a5f;
		}
	}
}
.service-bottom-nav{
	.wd20{
		width: 20%;
		border-right: 1px solid #e5e5e5 !important;
		&:last-child{
			border-right: none;
		}
	}
	.wd40{
		width: 40%;
		background: #FF5A5F;
		.tab-label{
			line-height: 50/@ppr;
			color: #fff;
			font-size: 15/@ppr;
		}
	}
	li{
		list-style: none;
		text-align: center;
		float:left;
		.tab-item{
			width: auto;
			display: inline-block;
			.iconfont{
				margin-top: 5/@ppr;
			}
		}
		.tab-item.active, .tab-item:active{
			color: #FF5A5F !important;
		}
	}
}
.store-bottom-nav{
	padding: 10/@ppr 0;
	.tab-item{
		height: 20/@ppr;
		text-align: center;
		&:first-child{
			border-right: 1px solid #e5e5e5;
		}
		.tab-label{
			font-size: 12/@ppr !important;
			color: #999;
			float: left;
		}
		.icon{
			color: #999;
			margin-right: 10/@ppr;
			float: left;
		}
		.tab-span{
			display: inline-block;
			margin-top: 3/@ppr;
		}
	}

}
.btn-bar-tab{
	padding: 12/@ppr 0;
	li{
		list-style: none;
		width: 50%;
		text-align: center;
		float:left;
		line-height: 25/@ppr;
		height: 25/@ppr;
		a{
			width: 100%;
		}
		&:first-child{
			border-right: 1px solid #e5e5e5;
		}
		.tab-item{
			width: auto;
			display: inline-block;
			line-height: 49/@ppr;
		}		
		.tab-item.active, .tab-item:active{
			color: #FF5A5F !important;
			border-bottom:2px solid #ff5a5f;
		}
		.tab-span{
			.icon{
				height:24/@ppr;
			    font-size: 24/@ppr;
			    line-height: 24/@ppr;
			    color: #999;
			    margin-right: 10/@ppr;
			}
			.tab-label{
				font-size: 12/@ppr;
				color: #999;
			}
		}
	}
}
.bar{
	background-color: #fff;	
}
.bar-nav{	
	.title{
		font-size: 13/@ppr;
	}
	.button{
		font-size: 13/@ppr;
	}
	a.pull-right{
		font-size: 13/@ppr;
		line-height: 44/@ppr;
	}
}
.service-detail-tab{
	border-top: 1px solid #e1e1e1;
	height: 40/@ppr;
	li{
		list-style: none;
		width: 100/3%;
		text-align: center;
		a{
			display: inline-block;
			padding: 0 10/@ppr;
			color: #999;
			font-size: 12/@ppr;
			line-height: 38/@ppr;
		}
		a.active{
			border-bottom:2/@ppr solid #ff5a5f;
			color: #000;
		}
	}
}
.danger{
	color: #FF5A5F !important;
}
.collect-container{
	li{
		width: 50%;
	}
}
.common-tip{
	background: #fff;
	i{
		font-size: 100/@ppr;
		color: #DFE3E6;
		display: inline-block;
		margin: 188/@ppr 0 74/@ppr 0;
	}
	.text-center{
		font-size: 15/@ppr;
		color: #999;
	}
}
.refresh-tips{
	.error-tips{
		background: #DFE3E6;		
		margin-bottom: 24/@ppr;
		height: 38/@ppr;
		line-height: 38/@ppr;
	}
	.text-center{
		color: #999;
		font-size: 13/@ppr;
	}
	.error-text{
		margin-bottom: 200/@ppr;
	}
}
.refresh-container{
	.content{
		background: #fff;
	}
}
.cricle{
	border-radius: 50%;
	width: 24/@ppr;
	height: 24/@ppr;
	background: #DEE2E5;
	text-align: center;
	font-size: 12/@ppr;
	color: #fff;
	line-height: 24/@ppr;
}
.actions-modal{
	span{
		font-size: 13/@ppr;
	}
}
.tabs .tab.active {
	z-index: 999999999;
}
.content.none-scroll{
	overflow: hidden;
}
.picker-modal{
	background: #fff;
}
.picker-item.picker-selected{
	color: #FF5A5F;
}
.picker-center-highlight {
    height: 36/@ppr;
    line-height: 36/@ppr;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -18/@ppr;
    pointer-events: none;
}
.picker-center-highlight:before, .picker-center-highlight:after{
	background-color: #FF5A5F;
}
.picker-item {
    height: 36/@ppr;
    line-height: 36/@ppr;
    padding: 0 10/@ppr;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: 300ms;
    transition: 300ms;
    font-size: 13/@ppr;
}
.page, .page-group{
	background-color: #DFE3E6;
}

.common-remark{
	font-size: 12/@ppr;
	color: #999;
	line-height: 20/@ppr;
	margin: 25/@ppr 0 40/@ppr 0;
}
.common-remark-icon{
	margin: 30/@ppr 0 15/@ppr 0;
	.icon{
		margin-bottom: 10/@ppr;
		font-size: 20/@ppr;
		color: #999;
	}
	.text-center{
		font-size: 13/@ppr;
		color: #999;
	}
}
.no-top{
	margin-top: 0;
}
.btn-white{
	background-color: #fff !important;
	color: #000 !important;
}
.card{
	border-radius: 0;
	box-shadow: none;
}
/* webkit solution */
::-webkit-input-placeholder {
	font-size: 13/@ppr;
}
/* mozilla solution */
input:-moz-placeholder {
	font-size: 13/@ppr;
}
textarea::-webkit-input-placeholder:after{   
	font-size: 13/@ppr;
};
textarea::-moz-placeholder:after{   
	font-size: 13/@ppr;
}; 