.zfw-color-red {
	color: #FF5A5F !important;
}
.zfw-index-nav {
	background-color: #fff;
	padding: 25/@ppr 0;
	.clf-item {
		text-align: center;
		padding:6/@ppr 0 11/@ppr 0;
		> span {
			display: block;
		}
		.iconfont {
			color: #000;
			font-size: 32/@ppr;
		}
		.txt {
			color: rgba(0, 0, 0, 0.7);
			font-size: 12/@ppr;
		}
	}
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #fff !important;
}
.zfw-shutdown {
	.swiper-container {
		padding-top: 25/@ppr;
		.swiper-pagination {
			bottom: inherit;
			top: 0;
		}
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: #FF5A5F !important;
	}
	.card-header:after {
		height: 0;
	}
	.zfw-title .iconfont{
		margin-left: 10/@ppr;
		font-size: 12/@ppr;
	}
}
.icon-requirement{
	background-image: url("/img/icon_tbar_plus@2x.png");
	background-repeat: no-repeat;
	background-size: 90/@ppr2 90/@ppr2;
	margin-top: -35/@ppr2 !important;
	width: 90/@ppr2 !important;
	height: 90/@ppr2 !important;
	border-radius: 50%;
}
.requirement-text{
	margin-top: -5/@ppr2;
}
.bar-tab .tab-item{
	height: 100/@ppr2 !important;
}
.panel-hot-server{
	background: #fff;
	padding-top: 40/@ppr2;
	.hot-server-title{
		font-size: 26/@ppr2;
		padding: 0/@ppr2 0 40/@ppr2 0;
		text-align: center;
		color: #666;
	}
	.hot-server-img{
		width: 650/@ppr2;
		height: 230/@ppr2;
		display: inline-block;
		margin-bottom: 72/@ppr2;
	}
	.row{
		width: 90%;
		margin-left: 5%;
	}
	.hot-server-item{
		margin-bottom: 80/@ppr2;
		img{
			width: 100/@ppr2;
			height: 100/@ppr2;
			margin-bottom: 24/@ppr2;
			display: inline-block;
		}
		span{
			font-size: 26/@ppr2;
			color: #666;
			display: block;
    		text-align: center;
		}
	}

	.more{		
		padding: 10/@ppr2 0 50/@ppr2 0;
		a{
			color: #ff5a5f;
			font-size: 24/@ppr2;
		}
	}
}
.mt20{
	margin-top: 20/@ppr2;
}
.panel-feature{
	background: #fff;
	padding: 15/@ppr2 15/@ppr2 15/@ppr2 15/@ppr2;
	.panel-feature-title{
		font-size: 26/@ppr2;
		padding: 40/@ppr2 0;
		text-align: center;
		color: #666;
	}
	.feature-info{
		position: relative;		
		.service-header-img{
			width: 100%;
			display: block;
		}
		.icon-bg{
			bottom: 0;
			left: 0;
			width:100%;
		    position: absolute;
		    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(51, 51, 51, 0.8));
			.pull-right{
				height: 90/@ppr2;
				.icon-info{				
					color: #fff;
					display: inline-block;
					&:first-child{
						margin-right: 40/@ppr2;	
					}
					&:last-child{
						margin-right: 30/@ppr2;	
					}
					.icon-buy{
						background-image: url('/img/icon_xiaoliang@2x.png');
						background-repeat: no-repeat;
						background-size: 24/@ppr2 20/@ppr2;
						width: 24/@ppr;
						height: 90/@ppr2;
						margin-right: 16/@ppr2;
						display: inline-block;
						background-position: center;
						line-height: 90/@ppr2;
					}
					.icon-collect{
						background-image: url('/img/icon_shoucx@2x.png');
						background-repeat: no-repeat;
						background-size: 24/@ppr2 21/@ppr2;
						margin-right: 16/@ppr2;
						width: 24/@ppr;
						height: 90/@ppr2;
						display: inline-block;
						background-position: center;
						line-height: 90/@ppr2;
					}
					span{
						line-height: 90/@ppr2;
						font-size: 24/@ppr2;
					}
				}
				
			}
			.zfw-card-user{
				padding-left: 30/@ppr2;
				.item-media{
					padding-bottom: 26/@ppr2 !important;
					img{
						width: 52/@ppr2;
						border: 2/@ppr2 solid #fff;
					}
				}
				.item-inner{
					color: #fff;
				}
			}
		}
	}
	.card-content{
		border: 1px solid #ddd;
		border-top: none;
	}
	.card-content-text{
		font-size: 26/@ppr2;
		color: #333;
		line-height: 42/@ppr2;
	}
	.panel-feature-item{
		margin-bottom: 15/@ppr2;
	}
	.more{		
		padding: 40/@ppr2 0 40/@ppr2 0;
		a{
			color: #ff5a5f;
			font-size: 24/@ppr2;
		}
	}
}
.hot-server-detail{
	background: #f0f0f0;
	padding: 20/@ppr2 20/@ppr2 0/@ppr2 20/@ppr2;
	margin-top: 0/@ppr;
	.card-content{
		background: #fff;
		border: none;
	}
	.panel-feature-item{
		margin-bottom: 0;
	}
	&:last-child{
		padding-bottom: 10/@ppr;
	}
}
