.zfw-color-red {
	color: #FF5A5F !important;
}
.zfw-index-nav {
	background-color: #fff;
	padding: 25/@ppr 0;
	.clf-item {
		text-align: center;
		padding:6/@ppr 0 11/@ppr 0;
		> span {
			display: block;
		}
		.iconfont {
			color: #000;
			font-size: 32/@ppr;
		}
		.txt {
			color: rgba(0, 0, 0, 0.7);
		}
	}
}
.zfw-shutdown {
	.swiper-container {
		padding-top: 25/@ppr;
		.swiper-pagination {
			bottom: inherit;
			top: 0;
		}
	}
	.card-header:after {
		height: 0;
	}
}