@ppr2:40rem;
.zfw-new-login{
	.content{
		.list-block{
			margin-top: 0/@ppr2 !important;
			border-radius: 2/@ppr2;
			border: 1px solid #ddd;
			margin-bottom: 0;			
		}
	}
	.btn-hander{
		margin-top: 20/@ppr2;
	}
	.find-password{
		font-size: 26/@ppr2;
		color: #999;
		margin-top: 40/@ppr2;
		margin-bottom: 30/@ppr2;
		cursor: pointer;
		text-align: center;
	}
	.remark-tip{
		background: url("/img/icon_qipaotips2.png") no-repeat;
		background-size: 560/@ppr2 104/@ppr2;
		height: 104/@ppr2;
		color: #666;
		font-size: 22/@ppr2;
		line-height: 120/@ppr2;
		.user-img{
			background: url("/img/icon_laoyhu.png") no-repeat;
			background-size: 24/@ppr2 24/@ppr2;
			width: 24/@ppr2;
			height: 24/@ppr2;
			margin-left: 20/@ppr2;
			margin-right: 10/@ppr2;
			display: inline-block;
			margin-top: 48/@ppr2;
			float: left;
		}
	}
}

.modal-text{
	font-size: 30/@ppr2;
	color: #000;
}
.modal-button{
	color: #007aff;
	font-size: 30/@ppr2;
}

.success-tip-text{
	font-size: 26/@ppr2;
	color: #000;
	margin-bottom: 50/@ppr2;
}
.success-tip-modal{
	border-radius: 30/@ppr2;
	width: 234/@ppr2;
	left: 70%;
	
	.success-tip{
		width: 50/@ppr2;
		height: 50/@ppr2;
		margin-bottom: 30/@ppr2;
		margin-top: 95/@ppr2;
	}
	.modal-inner{
		background: #fff;
		width: 234/@ppr2;
	}
}
.new-common{
	background-color: #f0f0f0;
	.content{
		width: 560/@ppr2;
		margin: 0 auto;
		padding-top: 66/@ppr2;
	}
	.button-danger{
		height: 90/@ppr2;
		line-height: 90/@ppr2;
		color: rgba(255, 255, 255, 0.4);
		font-size: 30/@ppr2;
		margin-top: 20/@ppr2;
		border-radius: 2/@ppr2;
		background: #ff5a5f;
	}
	.color-fff {
		color: #fff !important;
	}
	.from-control{
		height: 90/@ppr2;
		border: 1px solid #ddd;
		width: 100%;
		padding-left: 40/@ppr2;
	}
	.alone-input{
		.item-content{
			background: #fff;
			margin-bottom: 40/@ppr2;
			padding-left: 40/@ppr2;
			.item-inner{
				&:after{
					display: none;
				}
			}
		}
	}
	
	.item-title{
		font-size: 26/@ppr2 !important;
		color: #666  !important;
		width: 12%  !important;
	}
	.item-input-group{
		li:last-child{
			.item-content{
				border-bottom: none;
			}
		}
		.item-content{
			padding-left: 0;
			padding-right: 0;
			border-bottom: 1px solid #ddd;			
		}
		.item-inner{
			padding-left: 40/@ppr2;
			&:after{
				display: none;
			}
		}
		.item-input{
			position: relative;
			input{
				font-size: 26/@ppr2;
			}
			.error-tip{
				width: 26/@ppr2;
				height: 26/@ppr2;
				background: url("/img/icon_qingkong.png") no-repeat;
				background-size: 26/@ppr2 26/@ppr2;
				position: absolute;
				right: 0;
				top: 30/@ppr2;
				display: none;
			}
		}
		ul{			
			&:before, &:after{
				display: none;
			}	
		}
	}
	.icon-eye{
		width:36/@ppr2;
		height: 36/@ppr2;
	}
	.add-label, .label-info{
		border-radius: 30/@ppr2;
		height: 60/@ppr2;
		font-size: 26/@ppr2;
		border:1px solid #ddd;
		padding: 10/@ppr2 20/@ppr2;
		color: #666;
	}
	.item-label-info{
		padding: 15/@ppr2 0;
	}
	.enter-user-img{
		width: 120/@ppr2;
		height: 120/@ppr2;
		display: inline-block;
		border-radius: 50%;
	}
	.uploader-pic{
		position: relative;
		.uploder-img{
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
		}
	}
	.btn-none-bg{
		background: none;
		border: 1px solid #999;
		color:#666;
		font-size: 30/@ppr2;
		height: 90/@ppr2;
		line-height: 90/@ppr2;
		border-radius: 0;
	}
	p{
		margin: 0;
	}
	.mt15{
		margin-top: 15/@ppr2;
	}
	.mb15{
		margin-bottom: 15/@ppr2;
	}
	.mt60{
		margin-top: 60/@ppr2 !important;
	}
	.mb60{
		margin-bottom: 60/@ppr2 !important;
	}
	.mt10{
		margin-top: 10/@ppr2 !important;
	}
	.mt20{
		margin-top: 20/@ppr2 !important;
	}
	.mt40{
		margin-top: 40/@ppr2 !important;
	}
	.mt80{
		margin-top: 80/@ppr2 !important;
	}
	.mt30{
		margin-top: 30/@ppr2 !important;
	}
	.ft26{
		font-size: 26/@ppr2;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    font-size: 26/@ppr2 !important;
	}

	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    font-size: 26/@ppr2 !important;
	}

	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
	   font-size: 26/@ppr2 !important;
	}

	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
	   font-size: 26/@ppr2 !important;
	}
}
.modal-inner{
	background: #fff;
	.modal-title{
		font-size: 26/@ppr2;
	}
	.modal-text{
		font-size: 22/@ppr2;
	}
}
.modal-button{
	background: #fff;
	border-right:1px solid #ddd;
	&:after{
		display: none;
	}
}
.model-text-left{
	text-align:left;
	font-size: 0.85rem;
	line-height: 1.05rem;
}
.model-text-right{
	text-align:right;
	padding: 0 0.25rem;
	height: 2.2rem;
	font-size: 0.85rem;
	line-height: 2.2rem;
	color: #0894ec;
}
.new-tip-img{
	margin-top: 130/@ppr2;
	margin-bottom: 30/@ppr2;
	width: 120/@ppr2;
	height: 120/@ppr2;
}
.new-tip-text{
	margin-bottom: 130/@ppr2;
	font-size: 30/@ppr2;
	color:#666;
}
.div-width300{
	width: 300/@ppr2;
}
#pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    overflow: auto;
}
