.order-container{
	.bar-nav{
		&:after{
			background-color: #fff;
		}
		.danger{
			color: #FF5A5F;
		}
	}
	.service-detail-tab{
		border-top: none;
		&:after{
			background-color: #fff;
		}
	}
	.card-footer{
		.button-danger{
			// width: 80/@ppr;
			height: 32/@ppr;
			background-color: #FF5A5F;
			color: #fff;
			line-height: 32/@ppr;
			border-radius: 0;
		}
	}
}