.zfw-top-search {
	background-color: #fff;

	.searchbar {
		background: #fff;
		margin-right: 32/@ppr;
		position: relative;
	}
	> .iconfont {
		font-size: 32/@ppr;
		position: absolute;
		top: 0;
		right: 10/@ppr;
	}
	.search-input input {
		background-color: rgba(236, 240, 243, 1);
	}
}