---
layout: default
title: 分类
---
<div class="page-group">
  
  <div class="page classify-container" id="pageClassify">
    {% include search-top.html %}
    {% include index-bottom-nav.html %}
    <div class="content">
      <div class="row">
        <div class="classify-left-nav col-40">
            <a href="/demo/storeDetial/index.html" class="clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="clf-item">
              <span class="iconfont icon-zanfuwutubiao12"></span>
              <span class="txt">管理</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="clf-item">
                <span class="iconfont icon-zanfuwutubiao13"></span>
                <span class="txt">培训</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="clf-item">
                <span class="iconfont icon-zanfuwutubiao11"></span>
                <span class="txt">法律</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="clf-item">
                <span class="iconfont icon-zanfuwutubiao07"></span>
                <span class="txt">营销</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="clf-item">
                <span class="iconfont icon-zanfuwutubiao07"></span>
                <span class="txt">互联网</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="clf-item">
                <span class="iconfont icon-zanfuwutubiao07"></span>
                <span class="txt">家居</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="clf-item">
                <span class="iconfont icon-zanfuwutubiao07"></span>
                <span class="txt">音乐</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="clf-item">
                <span class="iconfont icon-zanfuwutubiao07"></span>
                <span class="txt">其他</span>
            </a>
        </div>        
        <div class="classify-right-nav col-60">
          
        </div>
      </div>
        
  </div>
</div>
