---
layout: default
title: 分类
---
<div class="page-group">
  
  <div class="page classify-container" id="pageClassify">
    {% include search-top.html %}
    {% include index-bottom-nav.html %}
    <div class="content">
      <div class="row">
        <div class="classify-left-nav col-40">
            <a href="#tab1" class="tab-link active">
                <img src="/images/i-f7.png" alt="">
                <span class="txt">招聘</span>
            </a>
            <a href="#tab2" class="tab-link">
              <span class="iconfont icon-zanfuwutubiao12"></span>
              <span class="txt">管理</span>
            </a>
            <a href="#tab3" class="tab-link">
                <span class="iconfont icon-zanfuwutubiao13"></span>
                <span class="txt">培训</span>
            </a>
            <a href="#tab4" class="tab-link">
                <span class="iconfont icon-zanfuwutubiao11"></span>
                <span class="txt">法律</span>
            </a>
            <a href="#tab5" class="tab-link">
                <span class="iconfont icon-zanfuwutubiao07"></span>
                <span class="txt">营销</span>
            </a>
            <a href="#tab6" class="tab-link">
                <span class="iconfont icon-zanfuwutubiao07"></span>
                <span class="txt">互联网</span>
            </a>
            <a href="#tab7" class="tab-link">
                <span class="iconfont icon-zanfuwutubiao07"></span>
                <span class="txt">家居</span>
            </a>
            <a href="#tab8" class="tab-link">
                <span class="iconfont icon-zanfuwutubiao07"></span>
                <span class="txt">音乐</span>
            </a>
            <a href="#tab9" class="tab-link">
                <span class="iconfont icon-zanfuwutubiao07"></span>
                <span class="txt">其他</span>
            </a>
        </div>        
        <div class="classify-right-nav col-60">
          <div class="tabs">
             <div id="tab1" class="tab active">
                <div class="right-nav-top">招聘      
                  <div class="sub-title">Hiring</div>
                  <div class="line"></div>
                </div>
                <div class="right-nav-content">
                  <ul>
                    <li><a href="">用户体验设计</a></li>
                    <li><a href="">前端开发</a></li>
                    <li><a href="">后端开发</a></li>
                    <li><a href="">产品运营</a></li>
                    <li><a href="">市场</a></li>
                    <li><a href="">BD</a></li>
                    <li><a href="">Growth-hacking</a></li>
                    <li><a href="">财务出纳</a></li>
                    <li><a href="">行政薪酬</a></li>
                    <li><a href="">用户体验设计</a></li>
                    <li><a href="">前端开发</a></li>
                    <li><a href="">后端开发</a></li>
                    <li><a href="">产品运营</a></li>
                    <li><a href="">市场</a></li>
                    <li><a href="">BD</a></li>
                    <li><a href="">Growth-hacking</a></li>
                    <li><a href="">财务出纳</a></li>
                    <li><a href="">行政薪酬</a></li>
                  </ul>
                </div>
            </div>
            <div id="tab2" class="tab">
                <div class="right-nav-top">管理      
                  <div class="sub-title">Hiring</div>
                  <div class="line"></div>
                </div>
                <div class="right-nav-content">
                  <ul>
                    <li>用户体验设计</li>
                    <li>前端开发</li>
                    <li>后端开发</li>
                    <li>产品运营</li>
                    <li>市场</li>
                    <li>BD</li>
                    <li>Growth-hacking</li>
                    <li>财务出纳</li>
                    <li>行政薪酬</li>
                  </ul>
                </div>
            </div>
            <div id="tab3" class="tab">
                <div class="right-nav-top">培训
                  <div class="sub-title">Hiring</div>
                  <div class="line"></div>
                </div>
                <div class="right-nav-content">  
                  <ul>
                    <li>用户体验设计</li>
                    <li>前端开发</li>
                    <li>后端开发</li>
                    <li>产品运营</li>
                    <li>市场</li>
                    <li>BD</li>
                    <li>Growth-hacking</li>
                    <li>财务出纳</li>
                    <li>行政薪酬</li>
                  </ul>                
                </div>
            </div>
            <div id="tab4" class="tab">
                <div class="right-nav-top">法律
                  <div class="sub-title">Hiring</div>
                  <div class="line"></div>
                </div>
                <div class="right-nav-content">2</div>
            </div>
            <div id="tab5" class="tab">
                <div class="right-nav-top">营销
                  <div class="sub-title">Hiring</div>
                  <div class="line"></div>
                </div>
                <div class="right-nav-content">2</div>
            </div>
            <div id="tab6" class="tab">
                <div class="right-nav-top">互联网
                  <div class="sub-title">Hiring</div>
                  <div class="line"></div>
                </div>
                <div class="right-nav-content">2</div>
            </div>
            <div id="tab7" class="tab">
                <div class="right-nav-top">家居
                  <div class="sub-title">Hiring</div>
                  <div class="line"></div>
                </div>
                <div class="right-nav-content">2</div>
            </div>
            <div id="tab8" class="tab">
                <div class="right-nav-top">音乐
                  <div class="sub-title">Hiring</div>
                  <div class="line"></div>
                </div>
                <div class="right-nav-content">2</div>
            </div>
            <div id="tab9" class="tab">
                <div class="right-nav-top">其他
                  <div class="sub-title">Hiring</div>
                  <div class="line"></div>
                </div>
                <div class="right-nav-content">2</div>
            </div>
          </div>
        </div>
      </div>
        
  </div>
</div>
