---
layout: default
title: 服务详情
---
<div class="page-group"> 
  <div class="page" id="pageIndex">
    {% include search-top.html %}
    {% include index-bottom-nav.html %}
    <div class="content">
        {% include swiper.html %}
        <div class="zfw-index-nav">
          <div class="row">
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
              <span class="iconfont">&#xe60a;</span>
              <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
          </div>
        </div>
        <div class="panel-hot-server">
          <div class="hot-server-title">热门服务</div>
          <div class="text-center">
            <img src="/img/icon_rmfw_kjbjkx@2x.png" alt="" class="hot-server-img">
          </div>
          <div class="row">
            <a href="#" class="hot-server-item col-33">
              <div class="text-center"><img src="/img/icon_rmfw_003UI@2x.png" alt=""></div>
              <span class="txt">室内设计</span>
            </a>
            <a href="#" class="hot-server-item col-33">
              <div class="text-center"><img src="/img/icon_rmfw_003UI@2x.png" alt=""></div>
              <span class="txt">UI设计</span>
            </a>
            <a href="#" class="hot-server-item col-33">
              <div class="text-center"><img src="/img/icon_rmfw_003UI@2x.png" alt=""></div>
              <span class="txt">品牌VI设计</span>
            </a>
            <a href="#" class="hot-server-item col-33">
              <div class="text-center"><img src="/img/icon_rmfw_003UI@2x.png" alt=""></div>
              <span class="txt">微信代运营</span>
            </a>
            <a href="#" class="hot-server-item col-33">
              <div class="text-center"><img src="/img/icon_rmfw_003UI@2x.png" alt=""></div>
              <span class="txt">商业计划书</span>
            </a>
            <a href="#" class="hot-server-item col-33">
              <div class="text-center"><img src="/img/icon_rmfw_003UI@2x.png" alt=""></div>
              <span class="txt">SEO优化</span>
            </a>
            <a href="#" class="hot-server-item col-33">
              <div class="text-center"><img src="/img/icon_rmfw_003UI@2x.png" alt=""></div>
              <span class="txt">ASO优化</span>
            </a>
            <a href="#" class="hot-server-item col-33">
              <div class="text-center"><img src="/img/icon_rmfw_003UI@2x.png" alt=""></div>
              <span class="txt">新媒体推广</span>
            </a>
            <a href="#" class="hot-server-item col-33">
              <div class="text-center"><img src="/img/icon_rmfw_003UI@2x.png" alt=""></div>
              <span class="txt">事件营销</span>
            </a>
            <div class="text-center more">
              <a href="#" >查看更多&nbsp;></a>
            </div>
          </div>
        </div>
        <div class="panel-feature">
          <div class="panel-feature-title">特色</div>
          <div class="panel-feature-item">
            <div class="feature-info">
              <img src="http://zanfuwuimg.b0.upaiyun.com/fuwu/0408_xljk_2.jpg" alt="" class="service-header-img">
              <div class="icon-bg">
                <div class="pull-right">
                  <a class="icon-info" href="#"><i class="icon-buy pull-left"></i><span class="pull-left">4</span></a>
                  <a class="icon-info" href="#"><i class="icon-collect pull-left"></i><span class="pull-left">2</span></a>
                </div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-content-inner">
                <div class="row">
                  <h3 class="zfw-card-title col-100">做CEO，感觉高处不胜寒？</h3>
                </div>
                <div class="card-content-text">
                  我是CEO教练，我会全方位的观察您的工作，并给出可操作的解决方案。我会全方位的观察您的工作，并给出可操作的解决方案。
                </div>
              </div>
            </div>
          </div>
          <div class="panel-feature-item">
            <div class="feature-info">
              <img src="http://zanfuwuimg.b0.upaiyun.com/fuwu/0408_xljk_2.jpg" alt="" class="service-header-img">
              <div class="icon-bg">
                <div class="pull-right">
                  <a class="icon-info" href="#"><i class="icon-buy pull-left"></i><span class="pull-left">4</span></a>
                  <a class="icon-info" href="#"><i class="icon-collect pull-left"></i><span class="pull-left">2</span></a>
                </div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-content-inner">
                <div class="row">
                  <h3 class="zfw-card-title col-100">做CEO，感觉高处不胜寒？</h3>
                </div>
                <div class="card-content-text">
                  我是CEO教练，我会全方位的观察您的工作，并给出可操作的解决方案。我会全方位的观察您的工作，并给出可操作的解决方案。
                </div>
              </div>
            </div>
          </div>
          <div class="text-center more">
              <a href="#" >查看更多&nbsp;></a>
          </div>
        </div>
        <div class="card zfw-card zfw-shutdown js-shutdown-swiper">
            <div class="card-header">
              <div class="zfw-title zfw-color-red"><i class="iconfont">&#xe618;</i>  秒杀推荐</div>
            </div>
            <div class="swiper-container" data-space-between='10' data-auto-height="true" data-pagination=".js-shutdown-swiper-pagination" style="padding-bottom:0;">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="http://zanfuwuimg.b0.upaiyun.com/banner/demand_h5.jpg" alt="" style="width: 100%;">
                  <div class="card-content-inner">
                
                    <div class="row">
                      <h3 class="zfw-card-title col-60">说了这么多我们是量身定做的策划和音效的</h3>
                      <div class="zfw-card-price col-40">¥ 9998</div>
                    </div>
                    <div class="zfw-tags">
                      <span class="tag">营销</span>
                      <span class="tag">策划</span>
                      <span class="tag">产品战略路径规划</span>
                      <span class="tag">径规划</span>
                      <span class="tag">营销</span>
                      <span class="tag">策划</span>
                      <span class="tag">产品战略路径规划</span>
                      <span class="tag">径规划</span>
                    </div>
                    <div class="list-block media-list zfw-card-user">
                      <div class="item-content">
                        <div class="item-media">
                          <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style="width: 1.2rem;border-radius: 50%;">
                        </div>
                        <div class="item-inner"> 一附院     院长／微软大中华区软件研究院用户体验中心总监</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                      <span>
                        <a href="#"><i class="iconfont icon-xihuang"></i>200</a>
                        <a href="#"><i class="iconfont icon-goumai"></i>200</a>
                      </span>
                      <span>
                        <a href="#"><i class="iconfont icon-xiangqing"></i></a>
                      </span>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="http://zanfuwuimg.b0.upaiyun.com/banner/zhaoshang_1217.png" alt="" style="width: 100%;">
                  <div class="card-content-inner">
                
                    <div class="row">
                      <h3 class="zfw-card-title col-60">说了这么多我们是量身定做的策划和音效的</h3>
                      <div class="zfw-card-price col-40">¥ sssd</div>
                    </div>
                    <div class="zfw-tags">
                      <span class="tag">营销</span>
                      <span class="tag">策划</span>
                      <span class="tag">产品战略路径规划</span>
                      <span class="tag">径规划</span>
                    </div>
                    <div class="list-block media-list zfw-card-user">
                      <div class="item-content">
                        <div class="item-media">
                          <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style="width: 1.2rem;border-radius: 50%;">
                        </div>
                        <div class="item-inner"> 一附院     院长／微软大中华区软件研究院用户体验中心总监</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                      <span>
                        <a href="#"><i class="iconfont icon-xihuang"></i>200</a>
                        <a href="#"><i class="iconfont icon-goumai"></i>200</a>
                      </span>
                      <span>
                        <a href="#"><i class="iconfont icon-xiangqing"></i></a>
                      </span>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination js-shutdown-swiper-pagination"></div>
            </div>
        </div>
    </div>
    
  </div>
</div>
