---
layout: default
title: 服务详情
---
<div class="page-group service-detail-container">
  
  <div class="page" id="pageIndex">
    {% include search-top.html %}
    {% include index-bottom-nav.html %}
    <div class="content">
        {% include swiper.html %}
        <div class="zfw-index-nav">
          <div class="row">
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
              <span class="iconfont">&#xe60a;</span>
              <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
            <a href="/demo/storeDetial/index.html" class="col-25 clf-item">
                <span class="iconfont">&#xe60a;</span>
                <span class="txt">招聘</span>
            </a>
          </div>
        </div>
        <div class="card zfw-card">
            
        </div>
    </div>
    
  </div>
</div>
