---
layout: default
title: 店铺详情
---
<div class="page-group">

	<div class="page" id="pageStoreDetail" data-title="店铺详情">
	<!-- 你的html代码 -->
		<header class="bar bar-nav">
			<a class="button button-link button-nav pull-left back" href="/index.html" data-transition='slide-out'>
			  <span class="icon icon-left"></span>
			  返回
			</a>
			<a class="iconfont icon icon-xiangqing pull-right" href="#"></a>
			<h1 class="title">店铺详情</h1>
		</header>
		
		<!-- <nav class="bar bar-tab">
			<a class="tab-item active" href="#">
			  <span class="icon icon-home"></span>
			  <span class="tab-label">首页</span>
			</a>
			<a class="tab-item" href="#">
			  <span class="icon icon-me"></span>
			  <span class="tab-label">我</span>
			</a>
			<a class="tab-item" href="#">
			  <span class="icon icon-star"></span>
			  <span class="tab-label">收藏</span>
			</a>
			<a class="tab-item" href="#">
			  <span class="icon icon-settings"></span>
			  <span class="tab-label">设置</span>
			</a>
		</nav> -->
		<nav class="bar bar-tab store-bottom-nav">
	        <a class="tab-item external active" href="#">
	            <span class="tab-span">
	            	<span class="icon iconfont">&#xe629;</span>
            <span class="tab-label">收藏</span>
        </span>
	        </a>
	        <a class="tab-item external active" href="#">
	        	<span class="tab-span">
            <span class="icon iconfont">&#xe62a;</span>
            <span class="tab-label">咨询</span>
	            </span>
	        </a>
		</nav>
		<div class="content">
			{% include store-detail-header.html %}

			<div class="swiper-container" id="storeDetailswiper" data-space-between='10' data-auto-height="true" data-pagination=".js-storeDetailswiper-pagination">
			    <div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="card zfw-card">
							<div class="card-content">
							  <div class="card-content-inner">
							  	<div class="row">
							  		<h3 class="zfw-card-title col-60">说了这么多我们是量身定做的策划和音效的</h3>
							  		<div class="zfw-card-price col-40">¥ 9998</div>
							  	</div>
							  	<div class="zfw-tags">
									<span class="tag">营销</span>
									<span class="tag">策划</span>
									<span class="tag">产品战略路径规划</span>
									<span class="tag">径规划</span>
								</div>
							  </div>
							</div>
							<div class="card-footer">
								<span>
									<a href="#"><i class="iconfont icon-xihuang"></i>200</a>
									<a href="#"><i class="iconfont icon-goumai"></i>200</a>
								</span>
								<span>
									<a href="#"><i class="iconfont icon-xiangqing"></i></a>
								</span>
							</div>
						</div>
						<div class="card zfw-card">
							<div class="card-content">
								<div class="zfw-card-other">
							  		<h5>精选服务</h5>
							  		<img src="http://7fv9ar.com1.z0.glb.clouddn.com/20141022_1413965194_Jellyfish.jpg" alt="" style="width: 100%;">
							  	</div>
							  	<div class="card-content-inner">
							  	
								  	<div class="row">
								  		<h3 class="zfw-card-title col-60">说了这么多我们是量身定做的策划和音效的</h3>
								  		<div class="zfw-card-price col-40">¥ 9998</div>
								  	</div>
								  	<div class="zfw-tags">
										<span class="tag">营销</span>
										<span class="tag">策划</span>
										<span class="tag">产品战略路径规划</span>
										<span class="tag">径规划</span>
									</div>
									<div class="list-block media-list zfw-card-user">
										<div class="item-content">
											<div class="item-media">
												<img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style="width: 1.2rem;border-radius: 50%;">
											</div>
											<div class="item-inner">
									            一附院     院长／微软大中华区软件研究院用户体验中心总监
									        </div>
										</div>
									</div>
							  	</div>
							</div>
							<div class="card-footer">
								<span>
									<a href="#"><i class="iconfont icon-xihuang"></i>200</a>
									<a href="#"><i class="iconfont icon-goumai"></i>200</a>
								</span>
								<span>
									<a href="#"><i class="iconfont icon-xiangqing"></i></a>
								</span>
							</div>
						</div>
						<div class="card zfw-card">
							<div class="card-content">
								<div class="zfw-card-other">
							  		<!-- <h5>精选服务</h5> -->
							  		<img src="http://7fv9ar.com1.z0.glb.clouddn.com/20141022_1413965194_Jellyfish.jpg" alt="" style="width: 100%;">
							  	</div>
							  	
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="card zfw-card">
							<div class="card-header">
								<div class="zfw-title">- 服务介绍 -</div>
							</div>
							<div class="card-content">
								<div class="card-content-inner">
									<p>1、品牌设计：</p>
									<p>为企业或独立品牌设计VIS视觉系统，统一品牌标识；</p>
									
									<p>2、网站设计：</p>
									<p>为企业或机构提供整体建站任务，包含网站结构策划，网
									页页面设计以及网站后台程序开发等；</p>
									
									<p>3、软件UI设计：</p>
									<p>为技术团队或互联网公司提供软件界面设计工作，包含结
									构设计、软件界面设计。</p>
									
								</div>
							</div>
						</div>
						<div class="card zfw-card">
							<div class="card-header"><div class="zfw-title">- 服务阶段 -</div></div>
							<div class="card-content">
								<div class="card-content-inner">
									<div class="list-block media-list">
									    <ul>
									      <li class="item-content">
									        <div class="item-media"><i class="myicon-num">1</i></div>
									        <div class="item-inner">
									            <div class="item-title-row">
									               <div class="item-title">咨询报价</div>
									               <div class="item-after">费用：100</div>
									            </div>
									            <div class="myitem-subtitle">咨询，沟通主题，确定方案</div>
									        </div>
									      </li>
									      <li class="item-content">
									        <div class="item-media"><i class="myicon-num">2</i></div>
									        <div class="item-inner">
									            <div class="item-title-row">
									               <div class="item-title">确认合作</div>
									               <div class="item-after">费用：100</div>
									            </div>
									            <div class="myitem-subtitle">支付 15% 预约金，制定针对性服务条款</div>
									        </div>
									      </li>
									      <li class="item-content">
									        <div class="item-media"><i class="myicon-num">3</i></div>
									        <div class="item-inner">
									            <div class="item-title-row">
									               <div class="item-title">实施服务</div>
									               <div class="item-after">费用：100</div>
									            </div>
									            <div class="myitem-subtitle">上一阶段结束三日内再付 35% 定金，服务实施</div>
									        </div>
									      </li>
									      <li class="item-content">
									        <div class="item-media"><i class="myicon-num">4</i></div>
									        <div class="item-inner">
									            <div class="item-title-row">
									               <div class="item-title">服务结束</div>
									               <div class="item-after">费用：100</div>
									            </div>
									            <div class="myitem-subtitle">全部服务结束后，三日内付清尾款</div>
									        </div>
									      </li>
									    </ul>
									  </div>
								</div>
							</div>
						</div>
						<div class="card zfw-card">
							<div class="card-header">
								<div class="zfw-title">- 照片案例 -</div>
							</div>
							<div class="card-content">
								<div class="zfw-card-other">
							  		<!-- <h5>精选服务</h5> -->
							  		<script>
							  			__app.ImageData = [
									        {
									          url:'//img.alicdn.com/tps/i4/TB1AdxNHVXXXXasXpXX0HY8HXXX-1024-1024.jpeg'
									        },
									        {
									          url:'//img.alicdn.com/tps/i3/TB1kt4wHVXXXXb_XVXX0HY8HXXX-1024-1024.jpeg'
									        },
									        {
									          url:'//img.alicdn.com/tps/i1/TB1SKhUHVXXXXb7XXXX0HY8HXXX-1024-1024.jpeg',
									        }
									      ]
							  		</script>
							  		<a href="#" class="js-pb-standalone" data-pb-filed="ImageData"><img src="http://7fv9ar.com1.z0.glb.clouddn.com/20141022_1413965194_Jellyfish.jpg" alt="" style="width: 100%;"></a>
							  	</div>
							</div>
						</div>
						<div class="card zfw-card">
							<div class="card-header">
								<div class="zfw-title">- 视频案例 -</div>
							</div>
							<div class="card-content">
								<div class="zfw-card-other">
									{% include video.html %}
							  	</div>
							</div>
						</div>
						<div class="card zfw-card">
							<div class="card-header">
								<div class="zfw-title">- 外部链接 -</div>
							</div>
							<div class="card-content">	
								<div class="zfw-card-wblink">
									<div><a href="#">作品辑1</a></div>
									<div><a href="#">作品辑2</a></div>
							  	</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="card zfw-card">
							<div class="card-content">
								<div class="card-content-inner">
									<div class="list-block media-list zfw-commit">
									    <ul>
									      <li>
									      	<div class="item-content">您好，关于您提出的用户体验设计的问题，我个人觉得。哎一个人 YY 评价真的好难啊</div>
									        <div class="item-content">
									          <div class="item-media">
									          		<div class="userimg" style="box-sizing: border-box; line-height: 0; width: 1.8rem; height: 1.8rem; background-image: url(http://zanfuwuimg.b0.upaiyun.com/userface/1000/41/20151211165427.jpg!u150); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat;"></div>
									          </div>
									          <div class="item-inner">
									            <div class="item-title-row">
									              <div class="item-title">道格拉斯</div>
									            </div>
									            <div class="item-subtitle">2015  19:15</div>
									          </div>
									        </div>
									      </li>
									      <li>
									      	<div class="item-content">您好，关于您提出的用户</div>
									        <div class="item-content">
									          <div class="item-media">
									          		<div class="userimg" style="box-sizing: border-box; line-height: 0; width: 1.8rem; height: 1.8rem; background-image: url(http://zanfuwuimg.b0.upaiyun.com/userface/1000/41/20151211165427.jpg!u150); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat;"></div>
									          </div>
									          <div class="item-inner">
									            <div class="item-title-row">
									              <div class="item-title">道格拉斯</div>
									            </div>
									            <div class="item-subtitle">2015  19:15</div>
									          </div>
									        </div>
									      </li>
									      <li>
									      	<div class="item-content">您好，关于您提出的用户体验设计的问题，我个人觉得。哎一个人 YY 评价真的好难啊</div>
									        <div class="item-content">
									          <div class="item-media">
									          		<div class="userimg" style="box-sizing: border-box; line-height: 0; width: 1.8rem; height: 1.8rem; background-image: url(http://zanfuwuimg.b0.upaiyun.com/userface/1000/41/20151211165427.jpg!u150); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat;"></div>
									          </div>
									          <div class="item-inner">
									            <div class="item-title-row">
									              <div class="item-title">道格拉斯</div>
									            </div>
									            <div class="item-subtitle">2015  19:15</div>
									          </div>
									        </div>
									      </li>
									    </ul>
									</div>
								</div>
							</div>
						</div>
					</div>
			    </div>
			    <div class="swiper-pagination js-storeDetailswiper-pagination" style="display: none;"></div>
			</div>
			<div class="tabs">
				<div id="tab1" class="tab active">
					{% include fw-card.html %}
					<div class="card zfw-card">
						<div class="card-content">
							<div class="zfw-card-other">
						  		<h5>精选服务</h5>
						  		<img src="http://7fv9ar.com1.z0.glb.clouddn.com/20141022_1413965194_Jellyfish.jpg" alt="" style="width: 100%;">
						  	</div>
						  	<div class="card-content-inner">
						  	
							  	<div class="row">
							  		<h3 class="zfw-card-title col-60">说了这么多我们是量身定做的策划和音效的</h3>
							  		<div class="zfw-card-price col-40">¥ 9998</div>
							  	</div>
							  	<div class="zfw-tags">
									<span class="tag">营销</span>
									<span class="tag">策划</span>
									<span class="tag">产品战略路径规划</span>
									<span class="tag">径规划</span>
								</div>
								<div class="list-block media-list zfw-card-user">
									<div class="item-content">
										<div class="item-media">
											<img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style="width: 1.2rem;border-radius: 50%;">
										</div>
										<div class="item-inner">
								            一附院     院长／微软大中华区软件研究院用户体验中心总监
								        </div>
									</div>
								</div>
						  	</div>
						</div>
						<div class="card-footer">
							<span>
								<a href="#"><i class="iconfont icon-xihuang"></i>200</a>
								<a href="#"><i class="iconfont icon-goumai"></i>200</a>
							</span>
							<span>
								<a href="#"><i class="iconfont icon-xiangqing"></i></a>
							</span>
						</div>
					</div>
					<div class="card zfw-card">
						<div class="card-content">
							<div class="zfw-card-other">
						  		<!-- <h5>精选服务</h5> -->
						  		<img src="http://7fv9ar.com1.z0.glb.clouddn.com/20141022_1413965194_Jellyfish.jpg" alt="" style="width: 100%;">
						  	</div>
						  	
						</div>
					</div>
				</div>
				<div id="tab2" class="tab">
					<div class="card zfw-card">
						<div class="card-header">
							<div class="zfw-title">- 服务介绍 -</div>
						</div>
						<div class="card-content">
							<div class="card-content-inner">
								<p>1、品牌设计：</p>
								<p>为企业或独立品牌设计VIS视觉系统，统一品牌标识；</p>
								
								<p>2、网站设计：</p>
								<p>为企业或机构提供整体建站任务，包含网站结构策划，网
								页页面设计以及网站后台程序开发等；</p>
								
								<p>3、软件UI设计：</p>
								<p>为技术团队或互联网公司提供软件界面设计工作，包含结
								构设计、软件界面设计。</p>
								
							</div>
						</div>
					</div>
					<div class="card zfw-card">
						<div class="card-header"><div class="zfw-title">- 服务阶段 -</div></div>
						<div class="card-content">
							<div class="card-content-inner">
								<div class="list-block media-list">
								    <ul>
								      <li class="item-content">
								        <div class="item-media"><i class="myicon-num">1</i></div>
								        <div class="item-inner">
								            <div class="item-title-row">
								               <div class="item-title">咨询报价</div>
								               <div class="item-after">费用：100</div>
								            </div>
								            <div class="myitem-subtitle">咨询，沟通主题，确定方案</div>
								        </div>
								      </li>
								      <li class="item-content">
								        <div class="item-media"><i class="myicon-num">2</i></div>
								        <div class="item-inner">
								            <div class="item-title-row">
								               <div class="item-title">确认合作</div>
								               <div class="item-after">费用：100</div>
								            </div>
								            <div class="myitem-subtitle">支付 15% 预约金，制定针对性服务条款</div>
								        </div>
								      </li>
								      <li class="item-content">
								        <div class="item-media"><i class="myicon-num">3</i></div>
								        <div class="item-inner">
								            <div class="item-title-row">
								               <div class="item-title">实施服务</div>
								               <div class="item-after">费用：100</div>
								            </div>
								            <div class="myitem-subtitle">上一阶段结束三日内再付 35% 定金，服务实施</div>
								        </div>
								      </li>
								      <li class="item-content">
								        <div class="item-media"><i class="myicon-num">4</i></div>
								        <div class="item-inner">
								            <div class="item-title-row">
								               <div class="item-title">服务结束</div>
								               <div class="item-after">费用：100</div>
								            </div>
								            <div class="myitem-subtitle">全部服务结束后，三日内付清尾款</div>
								        </div>
								      </li>
								    </ul>
								  </div>
							</div>
						</div>
					</div>
					<div class="card zfw-card">
						<div class="card-header">
							<div class="zfw-title">- 照片案例 -</div>
						</div>
						<div class="card-content">
							<div class="zfw-card-other">
						  		<!-- <h5>精选服务</h5> -->
						  		<script>
						  			__app.ImageData = [
								        {
								          url:'//img.alicdn.com/tps/i4/TB1AdxNHVXXXXasXpXX0HY8HXXX-1024-1024.jpeg'
								        },
								        {
								          url:'//img.alicdn.com/tps/i3/TB1kt4wHVXXXXb_XVXX0HY8HXXX-1024-1024.jpeg'
								        },
								        {
								          url:'//img.alicdn.com/tps/i1/TB1SKhUHVXXXXb7XXXX0HY8HXXX-1024-1024.jpeg',
								        }
								      ]
						  		</script>
						  		<a href="#" class="js-pb-standalone" data-pb-filed="ImageData"><img src="http://7fv9ar.com1.z0.glb.clouddn.com/20141022_1413965194_Jellyfish.jpg" alt="" style="width: 100%;"></a>
						  	</div>
						</div>
					</div>
					<div class="card zfw-card">
						<div class="card-header">
							<div class="zfw-title">- 视频案例 -</div>
						</div>
						<div class="card-content">
							<div class="zfw-card-other">
								{% include video.html %}
						  	</div>
						</div>
					</div>
					<div class="card zfw-card">
						<div class="card-header">
							<div class="zfw-title">- 外部链接 -</div>
						</div>
						<div class="card-content">	
							<div class="zfw-card-wblink">
								<div><a href="#">作品辑1</a></div>
								<div><a href="#">作品辑2</a></div>
						  	</div>
						</div>
					</div>
				</div>
				<div id="tab3" class="tab">
					<div class="card zfw-card">
						<div class="card-content">
							<div class="card-content-inner">
								<div class="list-block media-list zfw-commit">
								    <ul>
								      <li>
								      	<div class="item-content">您好，关于您提出的用户体验设计的问题，我个人觉得。哎一个人 YY 评价真的好难啊</div>
								        <div class="item-content">
								          <div class="item-media">
								          		<div class="userimg" style="box-sizing: border-box; line-height: 0; width: 1.8rem; height: 1.8rem; background-image: url(http://zanfuwuimg.b0.upaiyun.com/userface/1000/41/20151211165427.jpg!u150); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat;"></div>
								          </div>
								          <div class="item-inner">
								            <div class="item-title-row">
								              <div class="item-title">道格拉斯</div>
								            </div>
								            <div class="item-subtitle">2015  19:15</div>
								          </div>
								        </div>
								      </li>
								      <li>
								      	<div class="item-content">您好，关于您提出的用户</div>
								        <div class="item-content">
								          <div class="item-media">
								          		<div class="userimg" style="box-sizing: border-box; line-height: 0; width: 1.8rem; height: 1.8rem; background-image: url(http://zanfuwuimg.b0.upaiyun.com/userface/1000/41/20151211165427.jpg!u150); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat;"></div>
								          </div>
								          <div class="item-inner">
								            <div class="item-title-row">
								              <div class="item-title">道格拉斯</div>
								            </div>
								            <div class="item-subtitle">2015  19:15</div>
								          </div>
								        </div>
								      </li>
								      <li>
								      	<div class="item-content">您好，关于您提出的用户体验设计的问题，我个人觉得。哎一个人 YY 评价真的好难啊</div>
								        <div class="item-content">
								          <div class="item-media">
								          		<div class="userimg" style="box-sizing: border-box; line-height: 0; width: 1.8rem; height: 1.8rem; background-image: url(http://zanfuwuimg.b0.upaiyun.com/userface/1000/41/20151211165427.jpg!u150); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat;"></div>
								          </div>
								          <div class="item-inner">
								            <div class="item-title-row">
								              <div class="item-title">道格拉斯</div>
								            </div>
								            <div class="item-subtitle">2015  19:15</div>
								          </div>
								        </div>
								      </li>
								    </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 这里是页面内容区 -->
		</div>
	</div>

</div>
